---
- name: Install.Docker.on.Ubuntu
  hosts: localhost
  become: yes

  tasks:
    - name: Update apt cache
      apt:
        update_cache: Yes

    - name: Install Docker
      apt:
        name: docker.io
        state: present

    - name: Start Docker service
      service:
        name: docker
        state: started
        enabled: true

    - name: Add user to docker group
      user:
        name: devops
        groups: docker
        append: Yes

